
<!--Basic Stuff-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

{% if page.title == "Home" %}
  <meta name="description" content="{{site.description}}">
  <link rel="canonical" href="{{ site.url }}">
  <meta property="og:title" content="{{site.title}}">
  <meta name="description" content="{{site.description}}">
  <meta property="og:image" content="{{ site.url }}/public/images/banner/default.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:creator" content="@shanaka_rusith" />
{% elsif page.layout == "post" %}
  <meta name="description" content="{{page.description}}">
  <link rel="canonical" href="{{ site.url }}{{  page.url }}">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
  <meta property="twitter:description" content="{{page.about}}">
  {% if page.banner %}
    <meta property="og:image" content="{{ site.url }}{{page.banner}}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}
  <meta property="twitter:creator" content="@shanaka_rusith" />
  <meta property="og:url" content="{{ site.url }}{{  page.url }}">
{% endif %}

{% if page.layout == "tagpage"%}
  <meta name="robots" content="noindex">
{% else %}
  <meta name="robots" content="index,follow" >
{% endif %}