<head>



  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {% if page.title == "Home" %}
    <meta name="description" content="{{site.description}}">
  {% else %}
    <meta name="description" content="{{page.description}}">
  {% endif %}
  {% if page.layout == "tagpage"%}
    <meta name="robots" content="noindex">
  {% else %}
    <meta name="robots" content="index,follow" >
  {% endif %}
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137476951-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137476951-1');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface|IBM+Plex+Mono">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/public/css/customization.css">  
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/public/icons/favicon-144-image.png">
                                 <link rel="shortcut icon" href="{{ site.url }}/public/icons/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <div id="fb-root"></div>
  <script id="dsq-count-scr" src="//rusithme.disqus.com/count.js" async></script>

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
</head>
