<div class="sbuttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank" class="sbutton fb" tooltip="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://twitter.com/home?status={{site.url}}{{page.url}}" target="_blank" class="sbutton twitt" tooltip="Share on Twitter"><i class="fab fa-twitter"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=" target="_blank" class="sbutton linkedin" tooltip="Share on Linkedin"><i class="fab fa-linkedin-in"></i></a>
  <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas fa-share-alt"></i></a>
</div>  